# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java\yyy-http-rpc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
